body {
  padding: 0;
  margin: 0;
  color: #FFF;
  overflow-x: hidden; }
  body ul {
    list-style: none; }
  body a {
    color: #FFF; }
    body a:hover {
      text-decoration: none;
      color: #FFF; }
      body a:hover span {
        text-decoration: none; }
  body header {
    color: #FFF;
    background: #d4001f;
    height: 50px;
    border: 1px solid #555555; }
    body header button {
      float: left;
      display: inline-block;
      font-size: 30px;
      height: 50px;
      width: 50px;
      background: transparent;
      border: none;
      color: #242323;
      border-right: 1px solid #555555;
      outline: none; }
    body header div {
      position: absolute;
      width: calc(100% - 100px);
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      height: 40px;
      margin: 10px 50px 0 50px;
      color: #FCD800; }
    body header img {
      float: right;
      display: inline;
      width: 40px;
      height: 40px;
      vertical-align: top;
      margin-top: 5px;
      margin-right: 10px; }
  body #container.open {
    left: 0; }
  body .main {
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    display: block;
    position: relative;
    width: calc(100% + 250px) !important;
    padding: 0 !important;
    margin: 0 !important;
    left: -250px; }
    body .main .nav-left {
      position: absolute;
      z-index: 1;
      background: #242323;
      width: 250px;
      display: block; }
      body .main .nav-left nav a {
        text-align: center;
        padding: 5px;
        width: 100%;
        height: 50px;
        display: block;
        border: 1px solid #555555;
        border-bottom: none; }
        body .main .nav-left nav a:last-child {
          border-bottom: 1px solid #555555; }
        body .main .nav-left nav a:first-child {
          border-top: none; }
        body .main .nav-left nav a i {
          float: left;
          margin-left: 20px;
          font-size: 35px;
          color: #555555; }
        body .main .nav-left nav a span {
          margin-top: 10px;
          height: 20px;
          font-size: 14px;
          display: inline-block;
          width: 170px;
          text-align: left;
          padding-left: 25px;
          color: #555555; }
    body .main .content {
      position: absolute;
      z-index: 2;
      background: #242323;
      width: calc(100% - 250px);
      display: block;
      left: 250px; }
      body .main .content .head-img {
        width: 100%; }
      body .main .content .home-calendar {
        display: block;
        margin: 5px;
        margin-top: 15px;
        border: 1px solid #555555;
        border-top: 3px solid #FCD800; }
        body .main .content .home-calendar .home-calendar-tittle {
          padding: 5px;
          font-size: 17px;
          color: #FFF;
          border-bottom: 1px solid #555555; }
          body .main .content .home-calendar .home-calendar-tittle i {
            font-size: 25px;
            margin-right: 20px; }
        body .main .content .home-calendar ul {
          background: #FFF;
          padding: 0;
          padding-bottom: 5px;
          margin: 0; }
          body .main .content .home-calendar ul li {
            border-top: 1px solid #555555;
            padding: 5px; }
            body .main .content .home-calendar ul li:first-child {
              border-top: none; }
            body .main .content .home-calendar ul li a {
              color: #8c8c8c; }
              body .main .content .home-calendar ul li a .match-headline {
                padding-bottom: 5px; }
                body .main .content .home-calendar ul li a .match-headline .match-date {
                  float: right;
                  font-size: 11px; }
              body .main .content .home-calendar ul li a .match-team-logo {
                width: 150px;
                display: block;
                float: left; }
                body .main .content .home-calendar ul li a .match-team-logo .team-logo {
                  width: 50px;
                  margin-left: 20px; }
              body .main .content .home-calendar ul li a .match-team {
                display: inline-block;
                width: 200px;
                padding-top: 7px;
                margin-left: 20px; }
                body .main .content .home-calendar ul li a .match-team .team-name {
                  display: block;
                  font-weight: bold; }
      body .main .content .home-news h4 {
        color: #FFF;
        padding-left: 5px;
        margin-top: 20px; }
      body .main .content .home-news ul {
        padding: 5px; }
        body .main .content .home-news ul li {
          background: #FFF;
          border: 1px solid #555555;
          border-top: 3px solid #FCD800;
          margin-bottom: 15px; }
          body .main .content .home-news ul li a img {
            width: 100%; }
          body .main .content .home-news ul li a .new-content {
            padding: 5px 15px 5px 15px;
            color: #8c8c8c; }
            body .main .content .home-news ul li a .new-content .new-type {
              text-transform: uppercase;
              font-weight: 600;
              margin-bottom: 3px;
              font-size: 0.8em; }
            body .main .content .home-news ul li a .new-content .new-title {
              margin-bottom: 5px;
              text-transform: uppercase;
              color: #242323;
              font-weight: bolder; }
