$basic:#FFF;
$red:#d4001f;
$red2:#EF6A6A;
$black:#242323;
$yel:#FCD800;
$grey:#8c8c8c;
$borderCl:#555555;
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($time) {
    -webkit-transition: all ease $time;
    -moz-transition: all ease $time;
    -ms-transition: all ease $time;
    -o-transition: all ease $time;
    transition: all ease $time;
}

@mixin borderBasic() {
    border: 1px solid $borderCl;
}

@mixin flex-flow() {
    -webkit-flex-flow: wrap;
    -moz-flex-flow: wrap;
    -ms-flex-flow: wrap;
    -o-flex-flow: wrap;
    flex-flow: wrap;
}

body {
    padding: 0;
    margin: 0;
    color: $basic;
    overflow-x: hidden;
    ul {
        list-style: none;
    }
    a {
        &:hover {
            span {
                text-decoration: none;
            }
            text-decoration: none;
            color: $basic;
        }
        color: $basic;
    }
    header {
        color: $basic;
        background: $red;
        height: 50px;
        @include borderBasic();
        button {
            float: left;
            display: inline-block;
            font-size: 30px;
            height: 50px;
            width: 50px;
            background: transparent;
            border: none;
            color: $black;
            border-right: 1px solid $borderCl;
            outline: none;
        }
        div {
            position: absolute;
            width: calc(100% - 100px);
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            height: 40px;
            margin: 10px 50px 0 50px;
            color: $yel;
        }
        img {
            float: right;
            display: inline;
            width: 40px;
            height: 40px;
            vertical-align: top;
            margin-top: 5px;
            margin-right: 10px;
        }
    }
    #container.open {
        left: 0;
    }
    .main {
        @include transition(0.5s);
        display: block;
        position: relative;
        width: calc(100% + 250px) !important;
        padding: 0 !important;
        margin: 0 !important;
        left: -250px;
        .nav-left {
            position: absolute;
            z-index: 1;
            background: $black;
            width: 250px;
            display: block;
            nav {
                a {
                    text-align: center;
                    padding: 5px;
                    width: 100%;
                    height: 50px;
                    display: block;
                    @include borderBasic();
                    border-bottom: none;
                    &:last-child {
                        border-bottom: 1px solid $borderCl;
                    }
                    &:first-child {
                        border-top: none;
                    }
                    i {
                        float: left;
                        margin-left: 20px;
                        font-size: 35px;
                        color: $borderCl;
                    }
                    span {
                        margin-top: 10px;
                        height: 20px;
                        font-size: 14px;
                        display: inline-block;
                        width: 170px;
                        text-align: left;
                        padding-left: 25px;
                        color: $borderCl;
                    }
                }
            }
        }
        .content {
            position: absolute;
            z-index: 2;
            background: $black;
            width: calc(100% - 250px);
            display: block;
            left: 250px;
            .head-img {
                width: 100%;
            }
            .home-calendar {
                display: block;
                margin: 5px;
                margin-top: 15px;
                @include borderBasic();
                border-top: 3px solid $yel;
                .home-calendar-tittle {
                    padding: 5px;
                    font-size: 17px;
                    color: $basic;
                    border-bottom: 1px solid $borderCl;
                    i {
                        font-size: 25px;
                        margin-right: 20px;
                    }
                }
                ul {
                    background: $basic;
                    padding: 0;
                    padding-bottom: 5px;
                    margin: 0;
                    li {
                        border-top: 1px solid $borderCl;
                        padding: 5px;
                        padding-bottom: 10px;
                        &:first-child {
                            border-top: none;
                        }
                        a {
                            color: $grey;
                            .match-headline {
                                padding-bottom: 5px;
                                .league-name {
                                    img {
                                        width: 15px;
                                        vertical-align: middle;
                                        margin-right: 10px;
                                    }
                                }
                                .match-date {
                                    float: right;
                                    font-size: 11px;
                                }
                            }
                            .match-team-logo {
                                width: 130px;
                                display: block;
                                float: left;
                                .team-logo {
                                    width: 50px;
                                    margin-left: 10px;
                                }
                            }
                            .match-team {
                                display: inline-block;
                                padding-top: 7px;
                                margin-left: 20px;
                                .team-name {
                                    display: block;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
            .home-news {
                h4 {
                    color: $basic;
                    padding-left: 5px;
                    margin-top: 20px;
                }
                ul {
                    padding: 5px;
                    ;
                    li {
                        background: $basic;
                        @include borderBasic();
                        border-top: 3px solid $yel;
                        margin-bottom: 15px;
                        a {
                            img {
                                width: 100%;
                            }
                            .new-content {
                                padding: 5px 15px 5px 15px;
                                color: $grey;
                                .new-type {
                                    text-transform: uppercase;
                                    font-weight: 600;
                                    margin-bottom: 3px;
                                    font-size: 0.8em;
                                }
                                .new-title {
                                    margin-bottom: 5px;
                                    text-transform: uppercase;
                                    color: $black;
                                    font-weight: bolder;
                                }
                            }
                        }
                    }
                }
            }
            .squad {
                h3 {
                    color: $basic;
                    padding-left: 5px;
                    margin-top: 20px;
                }
                ul {
                    padding: 5px;
                    text-align: center;
                    display: flex;
                    @include flex-flow();
                    li {
                        background: $red;
                        flex-basis: 45%;
                        width: 45%;
                        @include borderBasic();
                        border-top: 3px solid $yel;
                        margin-left: calc(2.5% - 1px);
                        margin-right: calc(2.5% - 1px);
                        margin-bottom: 15px;
                        a {
                            img {
                                width: 100%;
                            }
                            div {
                                background: $red;
                                width: 100%;
                                bottom: 0;
                                color: $yel;
                                display: flex;
                                border-top: 1px solid $borderCl;
                                .player-number {
                                    width: 40px;
                                    display: inline-block;
                                    text-align: center;
                                    line-height: 40px;
                                    font-size: 25px;
                                    border-right: 1px solid $borderCl;
                                }
                                .player-name {
                                    width: calc(100% - 44px);
                                    display: inline-block;
                                    line-height: 20px;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }
            }
            .player-detail {
                img {
                    width: 100%;
                }
                .player-name-box {
                    color: $basic;
                    display: block;
                    overflow: hidden;
                    .player-name {
                        margin-left: 1em;
                        float: left;
                        padding-bottom: 5px;
                        text-transform: uppercase;
                    }
                    .player-number {
                        float: right;
                        margin-right: 1em;
                    }
                }
                .player-info {
                    background: $red2;
                    margin-bottom: 1.5em;
                    table {
                        width: 100%;
                        tr {
                            background: $red;
                            .info-col-left {
                                width: 120px;
                                color: $yel;
                                padding: 2px;
                                padding-left: 0.5em;
                                font-size: 0.9em;
                            }
                            .info-col-right {
                                color: $basic;
                            }
                        }
                    }
                }
                .player-text {
                    background: $basic;
                    padding: 5px;
                    .player-text-title {
                        font-weight: bold;
                    }
                    .player-text-content {
                        color: $borderCl;
                        font-size: 0.9em;
                    }
                }
            }
            .table-page {
                padding: 5px;
                width: 100%;
                overflow: hidden;
                img {
                    padding: 5px;
                    width: 50px;
                }
                h4 {
                    color: $basic;
                    margin-bottom: 20px;
                    width: calc(100% - 55px);
                    display: inline-block;
                }
                table {
                    text-align: center;
                    border-collapse: collapse;
                    width: 100%;
                    color: $borderCl;
                    tr {
                        background: $basic;
                        td {
                            width: 20px;
                            &:nth-child(3) {
                                width: auto;
                                text-align: left;
                                padding-left: 5px;
                            }
                            &:nth-child(2) {
                                text-align: right;
                                width: 30px;
                            }
                        }
                    }
                    thead {
                        @include borderBasic();
                        tr {
                            td {
                                padding: 5px;
                                font-weight: bold;
                            }
                        }
                    }
                    tbody {
                        @include borderBasic();
                        .mu-team {
                            background: #E8E8E8;
                        }
                        tr {
                            border-bottom: 1px solid $grey;
                            td {
                                &:nth-child(4) {
                                    font-weight: bold;
                                }
                                padding-top: 5px;
                                padding-bottom: 5px;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .calendar-page {
                padding: 5px;
                .calendar-page-headline {
                    h4 {
                        color: $basic;
                        width: 220px;
                        display: inline-block;
                        i {
                            font-size: 22px;
                            margin-right: 10px;
                        }
                    }
                    .view-box {
                        float: right;
                        margin-top: 10px;
                        width: 71px;
                        a {
                            font-size: 18px;
                            border: 1px solid $grey;
                            padding: 6px;
                            margin: 0;
                        }
                    }
                }
                .calendar-content {
                    display: none;
                    opacity: 0;
                    &.show {
                        display: block;
                        opacity: 1;
                    }
                    .calendar-header {
                        width: 100%;
                        text-align: center;
                        color: $basic;
                        padding: 3px 0 3px 0;
                        @include borderBasic();
                        border-top: 3px solid $yel;
                        i {
                            line-height: 30px;
                            width: 30px;
                            font-size: 20px;
                            cursor: pointer;
                            background-color: rgba(0, 0, 0, 0.3);
                            @include border-radius(5px);
                            vertical-align: middle;
                        }
                        span {
                            line-height: 30px;
                            margin: 0 10px 0 10px;
                            width: 120px;
                            display: inline-block;
                        }
                    }
                    table {
                        width: 100%;
                        .week {
                            background-color: $basic;
                            .day {
                                width: calc(100% / 7);
                                position: relative;
                                height: 50px;
                                text-align: center;
                                border: 2px solid $black;
                                text-align: center;
                                @include border-radius(10px);
                                &.match {
                                    background-image: url("../image/triangle-red.png");
                                    background-size: 50px;
                                    background-repeat: no-repeat;
                                    background-position: top left;
                                    span {
                                        color: $basic;
                                    }
                                }
                                &.different-month {
                                    opacity: 0.6;
                                    background-color: darkgray;
                                    span {
                                        color: $basic;
                                    }
                                }
                                span {
                                    position: absolute;
                                    top: 2px;
                                    left: 2px;
                                    float: left;
                                    color: $grey;
                                    width: 100%;
                                    text-align: left;
                                }
                                img {
                                    width: 35px;
                                    float: right;
                                }
                            }
                            &.names {
                                width: 100%;
                                height: 25px;
                                line-height: 25px;
                                color: $basic;
                                .day {
                                    padding: 2px;
                                    height: 25px;
                                    line-height: 25px;
                                    background-color: $red;
                                    border-bottom: 3px solid $black;
                                    @include border-radius(10px);
                                    margin-left: 2px;
                                }
                            }
                        }
                    }
                }
                .calendar-list-content {
                    display: none;
                    opacity: 0;
                    &.show {
                        display: block;
                        opacity: 1;
                    }
                }
            }
        }
    }
}